.errorMsg {
    text-align: center;
    margin-bottom: 12px;
    color: red;
}

mat-form-field{
    font-size:  medium;
    margin-right: 1em;
}
mat-form-field{
    width:60%;
    padding-left: 5%;
  }

  .submitfeedback{
    margin-left: 50%;
  }

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding-left: 5%;
}

h3{
    text-decoration: underline;
}

.content{
    align-self: left;
}

.email{
    color: lightblue;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}