.toolbar-spacer {
    flex: 1 1 auto;
}


.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p {
    width: max-content;
}

h3 {
    text-decoration: underline;
}

.content {
    align-self: center;
}

.email {
    color: lightblue;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
}

#login-overlay {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.row {
    display: flex;
    flex-direction: column;
}

.loginWrapper {
    height: fit-content;
    align-self: center;
}

.modal-header{
    display: flex;
}

.modal-footer{
    font-size: small;
}

.cshero-header-logo{
    flex-grow: 1;
}


